/* CSS for website */
.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active>a,
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #E05264;
}

.book .book-summary ul.summary li a.custom-link {
  font-size: 24px;
  font-weight: 600;
}

.anchorjs-link {
  display: inline-block;
  height: 32px;
  width: 18px;
  border-radius: 50%;
  background-color: #E05264;
  color: white;
  margin-top: 4px;
  margin-left: -1.4em !important;
  transition: all .25s linear;
}
.anchorjs-link:before {
  margin-left: 7px;
  margin-top: -4px;
  display: block;
}

/**:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}*/