/* CSS for website */

/* Sidebar background */
.book .book-summary {
  background: #FFFFFF;
}

/* Sidebar Links */
.book .book-summary ul.summary li a {
  font-size: 1.2em;
  color: #4A4A4A;
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active>a {
  color: #43CEA2;
}

/* Sidebar Title */
.book .book-summary ul.summary li a.custom-link {
  color: rgba(0, 0, 0, 0);
  background-image: url('http://feathersjs.com/img/feathers-logo-wide.png');
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 10px;
  min-height: 50px;
}

.book .book-summary ul.summary li a.custom-link:hover {
  color: rgba(0, 0, 0, 0);
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 10px;
  min-height: 50px;
}

/* Sepia and dark themes */
.book.color-theme-1 .book-summary ul.summary li a.custom-link,
.book.color-theme-2 .book-summary ul.summary li a.custom-link {
  background-image: url('http://feathersjs.com/img/feathers-wide-logo-white.png');
}

/* Title Links that pop up on hover */
.book .book-body .page-wrapper .page-inner section.normal a.anchorjs-link {
  color: #43CEA2;
}

/* Main links */
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #26C693;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote,
.book .book-body .page-wrapper .page-inner section.normal dl,
.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal p,
.book .book-body .page-wrapper .page-inner section.normal table,
.book .book-body .page-wrapper .page-inner section.normal ul {
  font-size: 1.8rem;
  color: #4A4A4A;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal blockquote,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal dl,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal ol,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal p,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal ul {
  color: #bdcadb;
}

/* Block Quotes */
.book .book-body .page-wrapper .page-inner section.normal blockquote {
  border: 2px solid #E4E4E4;
  padding: 15px;
  border-radius: 10px;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote strong {
  color: #43CEA2;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote p {
  margin: 0;
}

/* Page Titles */
.book .book-body .page-wrapper .page-inner section.normal h1 {
  color: #43CEA2;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-size: 1.7em;
  color: #4A4A4A;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-size: 1.4em;
  color: #969C9A;
}

/* Allow tables to scroll horizontally if they get too wide */
table {
  display: block;
  overflow-x: auto;
}